*{
    margin: 0;
    font-family: sans-serif;
}

.container-App{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: aqua;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 30%;
    background-color: blue;
}